.CreateNewGroups-header {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    color: #000957;
    text-decoration: underline;
    font-size: 30px;
    font-family: "Lato";
    font-weight: 1000;
  }
  
.CreateNewGroups-line {
    height: 75px;
    width: 100%;
    display: flex;
    bottom: 0px;
    border: 0.5px solid grey;
    position: fixed;
    background: white;
  }
  
.CreateNewGroups-container {
    display: flex;
    border: 3px solid #000957;
    padding: 10px;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #000957;
    font-family: "Lato";
    font-weight: 1000;
  }
  
.CreateNewGroups-container:hover {
    color: white;
    background: #000957;
  }
  
.CreateNewGroups-login {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center;
    color: #000957;
    text-decoration: underline;
    font-size: 30px;
    font-family: "Lato";
    font-weight: 1000;
  }