.Created-Groups-header {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  color: #000957;
  text-decoration: underline;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
}

.must-login {
  display: flex;
  height: 650px;
  align-items: center;
  justify-content: center;
  color: #000957;
  text-decoration: underline;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
}
