@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.Joined-Groups-header {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    color: darkblue;
    text-decoration: underline;
    font-size: 30px;
    font-family: "Lato";
    font-weight: 900;
}