@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.not-found-header {
  display: flex;
  height: 250px;
  align-items: flex-end;
  justify-content: center;
  color: darkblue;
  text-decoration: underline;
  font-size: 64px;
  font-family: "Lato";
  font-weight: 900;
}

.not-found-text {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  color: darkblue;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 400;
}
