.ProspectsPage-header {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  color: #000957;
  text-decoration: underline;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
  margin-bottom: -75px;
}

.ProspectsPage-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  color: #000957;
  font-family: "Lato";
  font-weight: 1000;
  flex-wrap: wrap;
}

.PropspectsPage-login {
  display: flex;
  height: 650px;
  align-items: center;
  justify-content: center;
  color: #000957;
  /* text-decoration: underline; */
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
}

.gray-container {
  display: flex;
  height: 100%;
  width: 35%;
  align-items: center;
  padding-top: 175px;
  color: #000957;
  /* text-decoration: underline; */
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
  background-color: rgb(173, 173, 173);
  /* position: fixed; */
  z-index: 0;
  flex-direction: column;
  text-align: center;
  justify-items: space-between;
}

.IndividualPage-header {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  color: #000957;
  text-decoration: underline;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 1000;
  margin-bottom: -75px;
}

.Prospects-wholepage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.IndividualPage-container {
  width: 100%;
  height: 100%;
}

.about-circleimage {
  border-radius: 50%;
  width: 55%;
  margin-bottom: 24px;
}

.about-name {
  font-family: "Lato";
  font-size: 32px;
  text-decoration: none;
  font-weight: 1000;
}

.Back-Button {
  z-index: 1000;
  font-family: "Lato";
  font-weight: 1000;
  background: transparent;
  color: #000957;
  display: flex;
  border: 3px solid #000957;
  font-size: 20px;
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 300px;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.Back-Button:hover {
  z-index: 1000;
  font-family: "Lato";
  font-weight: 1000;
  background: #000957;
  color: white;
  display: flex;
  border: 3px solid #000957;
  font-size: 20px;
  cursor: pointer;
}

.group-code-share {
  font-family: "Lato";
  font-weight: 1000;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border: 3px solid #000957;
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.Pemptyspace {
  height: 50px;
  width: 100%;
  background-color: white;
}

.Prospects-line {
  height: 75px;
  width: 100%;
  display: flex;
  bottom: 0px;
  border: 0.5px solid grey;
  position: fixed;
  background: white;
  justify-content: flex-end;
  align-items: center;
  padding-right: 32px;
}
