.JGroup-container {
  display: flex;
  border: 1px solid white;
  padding: 32px;
  margin: 64px;
  margin-top: -70px;
  text-decoration: none;
}

.JGroup-leave {
  background: transparent;
  height: 25px;
  width: auto;
  background-size: cover;
  border: transparent;
  padding: 15px;
  margin-top: 15px;
}

.JGroup-container:hover .JGroup-leave {
  background-image: url("./Screenshot_20230130_095141.png");
}

.JGroup-leave:hover {
  cursor: pointer;
}
