.AddButton {
  font-size: 20px;
  font-family: "Lato";
  text-align: center;
  background-color: #000957;
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 40px;
  border: solid;
  border-width: 3px;
  border-color: #000957;
}

.AddButton:hover {
  border: solid;
  border-width: 6px;
  border-color: #000957;
  cursor: pointer;
}

.Component {
  color: white;
  font-size: 15px;
  font-family: "Lato";
  text-align: center;
  background-color: #000957;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.CreateNewContainer-inputbox {
  margin-top: 4px;
  border: solid;
  border-width: 1px;
  border-color: #000957;
}

.CreateNewContainer-inputbox:focus {
  border: solid;
  border-width: 1px;
  border-color: #000957;
}
